body
    margin: 0
    padding: 0

.intro
    @include flexbox
    @include flex-direction(column)
    @include align-items(center)
    @include justify-content(center)
    background: $turquoise
    height: 100vh
    *
        color: #fff

.item
    padding: 200px 0
    text-align: center
    border-bottom: 1px #ebebeb solid
    opacity: 0
    transition: all 1s ease-out
    &.fade-in
        opacity: 1
